/* This is the stylosheet for the portfolio homepage */

body{
    width: 100%;
    
}

section{
    padding-top:60px;
}

h1 {
    text-align:center;
    font-family: "Open Sans",sans-serif;
}

h2 {
    font-size: medium;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}

P{
    font-family:"Lora", serif;
    line-height: 1.6;
}

/* style for header */

nav {
    overflow:hidden;
    background-color: #131354;
    background-size:cover;
    top: 0;
    margin-left:0;
    height: 56px;
    width: 100%;
    position:fixed;
    color:white; 
}

nav div{
    display: inline-block;
}

nav p {
    margin-top: 25px;
    float: left;
    color: white;
    text-align:center;
    font-family:"Open Sans", Arial, sans-serif;
    word-spacing: 0.02%;
}

nav a {
    display: block;
    float:right;
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
    height: 56px; 
    padding: 27px 18px 0px;
    text-decoration: none;
}
nav a:hover{
    color: black;
    background-color: #d2fdff;
}


nav img{
    width: 36px; 
    height: 36px;  
}

/*.row:after{
    content:"";
    display:table;
    clear:both; 
}*/

/* style for hero section */

#heroImg{
    height:fit-content;
    width: 100%;
    margin-right:0;
    margin-left:auto;   
    background-image: url(../images/LargeHeroBackground.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#heroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    top: 56px;
    margin-left:auto;
    margin-right:auto; 
    text-align:center;
    width: 90%;
    max-width: 32rem;
    color: white;
    padding-bottom: 5rem;
    
}

#heroContent p {  
    letter-spacing: 0.0625rem;
}





#heroContent img{
    display: block;
    text-align: center;
    border-radius: 0.75rem;
    width: 200px;
    margin-top: 100px;
}

button{
    color: black;
    /*background-color: rgb(177, 212, 227);*/
    background-color: #f4946c;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    border-radius: 0.75rem;
    padding:1rem;
}

button:hover{
    background-color:#fbe8a6 !important;
    font-weight:bold !important;
    box-shadow: 0.125rem 0.25rem 0.25rem rgb(184, 181, 181)!important;
} 

/*styling for about section */
#aboutGrid{
    display:grid;
    width: 64%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-areas:"about1Text about1Text about1Text about1Img"
                        "about2Text about2Text about2Text about2Img"
                        "about3Text about3Text about3Text about3Img";
    row-gap: 2rem;
}


#about img{
    display:block;
    width:90%;
    min-width:100px;
    max-width:250px;
    border-radius: 50%; 
}

.aboutImage{
    margin-left:1rem;
    vertical-align:top;
}

#about1Text{
    grid-area: about1Text;
}
#about1Img{
    grid-area: about1Img;     
}
#about2Text{
    grid-area: about2Text;
}
#about2Img{
    grid-area: about2Img;
    
}
#about3Text{
    grid-area: about3Text;
}
#about3Img{
    grid-area: about3Img;
}



/*styling for mySkills section */

#mySkills h2{
    color:#131354;
    text-align:center;
}


#mySkills img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius:35%;
    width: 6.25rem;
    height: 6.25rem;
    padding:2rem;
    
}

.flexContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items:center;
    column-gap:5%;
    max-width: 90rem;
    margin-right: auto;
    margin-left:auto;
}

.flexContainer div{
    width: 31%;
    height: 30rem;
    margin:auto;
    padding:0.75rem;
    margin:0.75rem;
    outline: solid 1px #a9a6a5;
    border-radius: 0.75rem;
   
}

.flexContainer p{
    color: black;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-justify:left;
    text-align-last:left;
}

#tools {
    display: block;
    width:100%;
}

#tools img{
    padding:1.25rem 1.25rem 0.625rem 1.25rem;
    width: 5.5rem;
    height:auto;
    float:inline-start;
}

#tools h2{
    float:left;
    padding-top: 3.5rem;
    padding-right: 1rem;
}

#tools p{
    font-size:smaller;
    padding-top: 4.5rem;
    
}

/*styling for My Work section */


#workGrid{
    display:grid;
    width:90%;
    max-width: 75rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-areas:"project1Image project1Body project1Body"
                        "project2Body project2Body  project2Image"
                        "project3Image project3Body project3Body";
    row-gap: 2rem;
}

.projectImage img{
    width: 95%;
    max-height: 268px;
    max-width: 400px;
    padding: 1.25rem;
    border: solid 4px #a9a6a5;
    padding:0.625rem;
    
}

.projectBodyRight{
    margin-left: 10%;
    margin-right: 5%;
}

.projectBodyLeft{
    margin-left:0;
    margin-right: 10%;
}

#project1Image{
    grid-area: project1Image;
}
#project1Body{
    grid-area: project1Body;     
}
#project2Image{
    grid-area: project2Image;
}
#project2Body{
    grid-area: project2Body;
    
}
#project3Image{
    grid-area: project3Image;
}
#project3Body{
    grid-area: project3Body;
}

#myWork h2{
    text-align:left;
    color:#131354;
}

#myWork h3{
    text-align: center;
    color:#131354;
}

/*styling for footer */

footer{
    width:100%;
    height:10rem;
    margin:0;
    padding-top: 1rem;
    background-color: #131354;
}

footer p{
    width:100%;
    text-align: center;
    color:white;
}
 
#footerNavContainer{
    display:block;
    position: relative;
    width:100%;
    height: 6rem;
}

footer img{
    display: inline-block;
    width:36px;
    padding: 10px;
}

#footerLogo{
    float: left;
}

#footerLI{
    float: right;
}
#footerNav{
    float:left;
    height: 2rem;
    margin: 1.75rem 0.5rem 0;
}

.footerMenuLink{
    display: block;
    color: white;
    padding:0.5rem;
    float:left
}

.footerMenuLink:hover{
    color: #fad8cc;
    background-color: transparent;
}

#copyright{
    position: absolute;
    bottom: 0;

}

.responsive{
    width:100%;
    height:auto;
}

@media (max-width:600px){
    
    .column{
        flex:100%;
        max-width: 100%;
    }
    nav{
        width:100%;
        height:17rem;
        
    }
    nav p{
      float:left; 
      margin: 0 0 0 20px;
      width:100%; 
      text-align:center;
      position:relative;
      top:-10px;
    }
    nav a{
        display:block;
        text-align:left;
        float:none;
        height:18px;
        width:100%;
        margin-left:10px;    
    }

    section{
        padding-top:17rem;
    }
  
    #aboutGrid{
        display:grid;
        max-width:100%;
        width:100%;
        margin: 0.75rem;
        justify-content: center;
        grid-template-columns: 1fr; 
        grid-template-areas:"about1Img"
                            "about1Text"
                            "about2Img"
                            "about2Text"
                            "about3Img"
                            "about3Text";
        row-gap: 1rem;
    
    }

    .aboutImage{
        margin-left:auto;
        margin-right:auto;
    }
    .flexContainer{
        flex-direction:column;
        row-gap:15px;
        margin: 10px;
    }

    .flexContainer div{
        width:95%;
        height:fit-content;
        margin: 0.75rem;
    }
    #workGrid{
        display:grid;
        margin: auto;
        justify-content: center;
        grid-template-columns: 1fr; 
        grid-template-areas:"project1Image"
                            "project1Body"
                            "project2Image"
                            "project2Body"
                            "project3Image"
                            "project3Body";
        row-gap: 1rem;
    
    }
    footer{
        height:18rem;
    }
  #footerNavContainer{
    height: 13rem;
  }
  #footerNav a{
    float:none;
  } 
}
